initialize()
{
    initializeSLiMModelType("WF");
    initializeTreeSeq();
    initializeMutationRate(3e-10);
    initializeMutationType("m1", 0.5, "f", 0.0);
    initializeMutationType("m2", 0.5, "e", 0.001);
    initializeGenomicElementType("g1", m2, 1.0);
    initializeGenomicElement(g1, 0, L-1); // specify L, the genome length
    initializeRecombinationRate(1e-8);
}
1 late() {
    sim.readFromPopulationFile("init.trees");
}
100 late() {
    sim.treeSeqOutput("final.trees");
}